body {
    background-color: #CBCE91FF;
}

h2 , h4 {
    text-align: center;
}

a {
    text-decoration: none;
}

.h2_txt {
    font-family: 'Anek Latin', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.h4_txt {
    font-family: 'Anek Latin', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.spr_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.spr1 {
    width: 60%;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #2C5F2D;
    padding-bottom: 20px;
}
.spr2 {
    margin-top: 30px;
    width: 60%;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #2C5F2D;
    padding-bottom: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex > div {
    margin-bottom: 20px;
    background-color: #97BC62FF;
    margin-top: 20px;
    width: 250px;
    height: 150px;
    border-radius: 25px;
}

.spr_header {
    display: flex;
    justify-content: center;
    color: rgb(232, 243, 231);
    font-family: 'Anek Latin', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.boxik {
    color: #006B38FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anek Latin', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.boxik:hover {
    color: #ADEFD1FF;
}

